* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  max-width: 100vw;
  height: 100%;
  background-color: black;
}

.nav-container {
  width: 100vw;
}

.banner-container > img {
  width: 100vw;
  height: 90vh;
  cursor: pointer;
  margin-top: 4rem;
}

.components-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.components-container img {
  height: 13rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 2rem;
  color: azure;
} 

.footer-container > ul > li {
  list-style-type: none;
  font-weight: 400;
}

.footer-container a {
  text-decoration: none;
  color: azure;
}

.footer-container a:hover {
  text-decoration: none;
  color: azure;
  cursor: pointer;
}


.footer-container img {
  justify-content: end;
  width: 25rem;
  height: 10rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.social-icons .fa {
  margin: 1rem 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding-top: 0.8rem;
  text-decoration: none;
}

.social-icons p {
  display: grid;
  justify-content: flex-end;
  margin: 2rem;
  color: white;
}


@media screen and (max-width: 992px) {
  .components-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 2rem;
  } 
}

@media screen and (max-width: 768px) {
  .components-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, auto));
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, auto));
    margin: 2rem;
  } 
}

@media screen and (max-width: 576px) {
  .components-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, minmax(0, auto));
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    margin: 2rem;
  }
}

@media screen and (max-width: 316px) {
  .products-container {
    width: 10rem;
  }
}

